

<br>
  <div>
    <div class="container-fluid" style="margin-top: 1px" style="margin-top: 10px"  >
      <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search by">
    </mat-form-field>
  </div>
  </div>


  <div class="container-fluid" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="60">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="tradeId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><strong> TradeId </strong></th>
      <td mat-cell *matCellDef="let element"> {{element.tradeId}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong> Type </strong> </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="ticker">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><strong> Symbol </strong></th>
      <td mat-cell *matCellDef="let element"> {{element.ticker}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><strong> Quantity </strong></th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong> Price </strong></th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong> State </strong></th>
      <td mat-cell *matCellDef="let element"> {{element.state}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="30"  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
  </div>
