<!-- Template Boiler -->
<mat-toolbar color="primary">
  <span>Trade UI</span>
  <div>
    <a mat-button [routerLink]="'/home'">Home</a>
    <a mat-button [routerLink]="'/trades'">Trades</a>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
