<div class="container-fluid" style="margin-top: 10px">
  <div class="row">
    <div class="col-8">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>name</th>
            <th>symbol</th>
            <th>region</th>
            <th>price</th>
            <th>previous close</th>
            <th>change(%)</th>
          </tr>
        </thead>
        <tbody *ngIf="hasTrendingTickers">
          <tr *ngFor="let ticker of trendingTickers" (click)="handleRowClick($event)">
            <td>{{ticker.shortName}}</td>
            <td>{{ticker.symbol}}</td>
            <td>{{ticker.region}}</td>
            <td>{{ticker.regularMarketPrice != null ? ticker.regularMarketPrice : '-'}}</td>
            <td>{{ticker.regularMarketPreviousClose != null ? ticker.regularMarketPreviousClose : '-'}}</td>
            <td [style.color]="checkSign(ticker.regularMarketChangePercent)">{{ticker.regularMarketChangePercent != null ? ticker.regularMarketChangePercent.toFixed(2) : '-'}}</td>
          </tr>
        </tbody>
        <tbody *ngIf="!hasTrendingTickers">
          <tr>
            <td colspan="6">No Trending Tickers Found</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
    <form (ngSubmit)="onSubmit(tradeForm)" #tradeForm="ngForm">
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <input type="text" id="symbol" name="symbol" class="form-control" placeholder="Symbol" [(ngModel)]="symbol" #sym="ngModel" required>
            <div [hidden]="sym.valid || sym.pristine"
              class="alert alert-danger">
              Symbol is required
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <select class="form-control" id="action" [(ngModel)]="type" name="type" required>
              <option [ngValue]="null" [disabled]="true" >Trade Type</option>
              <option [ngValue]="typeOptions.buy">BUY</option>
              <option [ngValue]="typeOptions.sell">SELL</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <input type="text" id="region" class="form-control" placeholder="Region" [(ngModel)]="region" name="region" #reg="ngModel" required>
            <div [hidden]="reg.valid || reg.pristine"
              class="alert alert-danger">
              Region is required
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <button style="width: 90px" class="btn btn-primary" (click)="onGetLive($event)" [disabled]="!symbol || !region">
              <span *ngIf="!loadingGetLive">Get Live</span>
              <i *ngIf="loadingGetLive" class="fa fa-circle-o-notch fa-spin"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <input type="text" id="name" class="form-control" placeholder="Name" [(ngModel)]="name" name="name">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <input type="number" min="0" id="quantity" class="form-control" placeholder="Quantity" [(ngModel)]="quantity" name="quantity" #num="ngModel" required>
            <div [hidden]="num.valid || num.pristine"
              class="alert alert-danger">
              Quantity is required
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group input-group prefix">
            <span class="input-group-addon">$</span>
            <input type="text" id="price" class="form-control" placeholder="Price" [(ngModel)]="price" name="price" prefix="$" readonly="readonly">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <button class="btn btn-primary form-control" type="submit" [disabled]="!tradeForm.form.valid">
              <span *ngIf="!loadingCreateTrade">Create Trade</span>
              <i *ngIf="loadingCreateTrade" class="fa fa-circle-o-notch fa-spin"></i>
            </button>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
